/* florWendy/static/css/styless.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    color: #333;
}

h1 {
    color: #ff69b4;
}

#turtleCanvas {
    border: 1px solid #333;
    margin-top: 20px;
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}